[submodule "Forward\\vendor"]
	path = Forward\\vendor
	url = https://github.com/gabime/spdlog.git
[submodule "Forward/vendor/GLFW"]
	path = Forward/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Forward/vendor/imgui"]
	path = Forward/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Forward/vendor/glm"]
	path = Forward/vendor/glm
	url = https://github.com/g-truc/glm.git
